{# templates/application/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create Application{% endblock %}

{% block body %}
    <h1>Create Application</h1>

    {{ form_start(form) }}
        {{ form_row(form.action) }}
        {{ form_row(form.quantity) }}
        {{ form_row(form.price) }}
        {{ form_row(form.status) }}
        {{ form_row(form.user) }}
        {{ form_row(form.stock) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
