{% extends 'base.html.twig' %}

{% block title %}Update Application{% endblock %}

{% block body %}
    <h1>Edit Application</h1>
    <form method="POST" action="{{ path('application_update', {'application_id': application.id}) }}">
        <input type="hidden" name="_method" value="PUT">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Update Application</button>
        {{ form_end(form) }}
    </form>
    
    

    <a href="{{ path('app_profile') }}" class="btn btn-secondary">Cancel</a>

{% endblock %}
