{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <h1>Stock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ticker</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.ticker }}</td>
                <td>
                    <a href="{{ path('app_stock_show', {'id': stock.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stock_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
